.cell_select {
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
    height: 100%;
    width: 100%;
    outline: none;
}

.cell_regular {
    /* background-color: bisque; */
    margin:0;
}
