
.table {
    border-collapse: collapse;
}

.tr {

}

.polochka {
    display:block;
    width: 300px;
    height: 20px;
    margin:10px auto;
    border: 1px solid black;
    background-color: burlywood;
}



.td {
    /* transform: translateZ(0);
    backface-visibility: hidden; */
    background-color:azure;
    color: black;
    padding: 0;
}

.th {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(55, 70, 102);
    padding: 0.5rem;
    font-weight:600;
    text-transform: uppercase;
    text-align: center;
  }

td div {
    padding: 6px;
}
  
.container {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.table_wrapper {
    overflow: auto;
    border: 1px solid black;
}
